*
# dockerfile-maven-plugin does not handle `*` matching directories
# properly, so list directories
.git/
.mvn/
src/
target/
# dockerfile-maven-plugin also does not automatically send
# .dockerignore and Dockerfile
!.dockerignore
!Dockerfile
!target/spring-boot.jar
